image: hosttoday/ht-docker-dbase:npmts
services:
  - docker:dind

stages:
- test
- release
- trigger
    
test:
  stage: test
  script:
    - npmci test stable
  tags:
    - docker
    - lossless
    - priv

release:
  image: hosttoday/ht-docker-node:npmts
  stage: release
  environment: npmjs-com_registry
  script:
    - npmci publish
  only:
    - tags
  tags:
    - docker

trigger:
  image: hosttoday/ht-docker-node:npmts
  stage: trigger
  script:
    - npmci trigger
  only:
    - tags
  tags:
    - docker